* {
  margin: 0;
  padding: 0;
}

.header-image {
  width: 100%;
  background-image: url("Img/background.png");
  height: 1020px;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .header-image {
    background-image: url(Img/background-mobile.png);
  }
}
.header-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 198px;
  height: 54px;
  margin-top: 50px;
}
.content-and-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 291px;
  justify-content: space-between;
}
.contact-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 198px;
  height: 54px;
  background-color: #008aff;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
  margin-top: 50px;
}
.mailbox-icon {
  margin-right: 15px;
}
.menu-button {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 62px;
  height: 54px;
  margin-top: 50px;
  border: none;
}

.menu-icon {
  margin: 0 auto;
}
.line {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid white;
  opacity: 0.3;
  margin-bottom: 220px;
}

.header-text-box-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.header-text-box {
  max-width: 720px;
  display: flex;
  flex-direction: column;
}

.first-page-title {
  color: #ffffff;
  font: normal normal bold 57px/67px Barlow;
}

.first-page-text {
  padding-top: 24px;
  color: #ffffff;
  font: normal normal normal 20px/28px Barlow;
  opacity: 0.85;
}

.about-button {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
  width: 259px;
  height: 54px;
  background-color: #008aff;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
  font-weight: 700px;
  color: #ffffff;
  border-radius: 5px;
  border: none;
}
.about-and-learn-icon {
  margin-right: 20px;
}

.side-text {
  font: 300;
  color: white;
  /*   transform: rotate(270deg); */
}
.app-play-icon {
  width: 100%;
  max-width: 1200px;
  margin: 230px auto 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* .content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
} */

.page-one {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: 126px;
  justify-content: space-between;
}
.page-one-text {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding-top: 60px;
}
.page-one-title {
  font: normal normal bold 42px/49px Barlow;
  color: #0d0c1d;
  align-items: flex-start;
}
.page-one-paragraph {
  margin-top: 24px;
  font: normal normal normal 20px/32px Barlow;
}
.two-icon {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.page-one-picture {
  display: block;
  width: 100%;
  max-width: 600px;
}
@media screen and (max-width: 968px) {
  .page-one-picture {
    max-width: 600px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  font: normal normal bold 20px/28px Barlow;
  gap: 10px;
}

.line-two {
  width: 100%;
  border-bottom: 0.5px solid black;
  opacity: 0.5;
}
.page-three-content {
  max-width: 1200px;
  margin: 0 auto;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 180px;
}
.page-three-logo {
  width: 103px;
  height: 21px;
}
.page-three-title {
  margin-top: 20px;
  font: normal normal bold 42px/49px Barlow;
}

.three-titles {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 60px;
  justify-content: space-between;
  gap: 30px;
  font: normal normal normal 20px/28px Barlow;
}
.three-titles-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.three-titles-content > img {
  width: 20px;
  height: 20px;
}
.three-paragraph {
  font: normal normal normal 20px/28px Barlow;
}

.page-four-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-four-image {
  display: block;
  max-width: 600px;
  height: 853px;
}
.page-four-text {
  background: #f4e5e2;
  height: 853px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-four-title {
  font: normal normal bold 57px/67px Barlow;
  padding-left: 80px;
}

.page-four-paragraph {
  font: normal normal normal 20px/28px Barlow;
  margin-top: 24px;
  padding-left: 80px;
}
.learn-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  width: 221px;
  height: 54px;
  justify-content: center;
  background-color: #008aff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
.btn-page-four {
  padding-left: 80px;
}
.page-five-background {
  background-color: black;
  margin: 0 auto;
  background-size: cover;
}
.page-five-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.page-five-intro {
  padding-top: 180px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.page-five-title {
  font: normal normal bold 57px/67px Barlow;
  color: white;
}
.page-five-p-btn {
  padding-left: 160px;
  display: flex;
  flex-direction: column;
}
.page-five-text {
  font: normal normal normal 20px/32px Barlow;
  color: white;
}

.three-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 136px;
  gap: 45px;
  padding-bottom: 200px;
}

.box {
  border: 2px solid #ffffff;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 44px;
}
.box-title {
  margin-top: 59px;
  font: normal normal 600 26px/28px Barlow;
}

.box-paragraph {
  padding-top: 24px;
  font: normal normal normal 20px/28px Barlow;
}
.box-icon {
  padding-top: 54px;
  width: 25px;
  height: 7px;
}

.visit-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
}
.visit-title {
  max-width: 900px;
  margin-top: 160px;
  font: normal normal bold 57px/67px Barlow;
}
.news-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 41px;
  width: 221px;
  height: 54px;
  justify-content: center;
  background-color: #008aff;
  font-size: 700;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

/* Middle content */
/* First */

.first-middle-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 544px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}

.doctor-img {
  height: 300px;
}
.date {
  width: 49px;
  height: 68px;
  font: normal normal bold 57px/67px Barlow;
}
.month-and-year {
  font: normal normal bold 14px/17px Barlow;
}

.first-middle-text {
  font: normal normal bold 32px/44px Barlow;
}
.date-and-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 85px;
}

/* Second */

.second-middle-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 544px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}
.date-month-year-second {
  display: flex;
  flex-direction: row;
  gap: 85px;
}
.baby-img {
  height: 300px;
}
.second-middle-tittle {
  font: normal normal bold 32px/44px Barlow;
}
.second-middle-paragraph {
  font: normal normal normal 16px/26px Barlow;
  padding-top: 120px;
}
